      body {
        background: gray;
    }

    #wrapper {
        margin-left:auto;
        margin-right:auto;
        position: relative;
    }

    header {
        font-family: 'Shadows Into Light', cursive;
        text-shadow: gray 3px 3px 4px;
        font-size: 25px;
        text-align: center;
        color: silver;
        background: linear-gradient(to bottom right, maroon, black);
        border-radius: 100px;
        padding: 1px;
        width: 60%;
        margin-left:auto;
        margin-right:auto;
        box-shadow: 0px 0px 20px black;
    }

    nav ul {     
        background: #efefef; 
        background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
        background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
        background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
        box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
        padding: 0 320px;
        border-radius: 10px;  
        list-style: none;
        position: relative;
        display: inline-table;
        font-family: 'Shadows Into Light', cursive;
        font-size: 30px;
    }

    nav ul li {
        float: left;
    }
    nav ul li:hover {
        background: #4b545f;
        background: linear-gradient(to bottom right, black, maroon);
        background: -moz-linear-gradient(to bottom right, black, maroon);
        background: -webkit-linear-gradient(to bottom right, black, maroon);
    }
        
    nav ul li:hover a {
        color: #fff;
    }
    
    nav ul li a {
        display: block; 
        padding: 25px 40px;
        color: maroon; 
        text-decoration: none;
    }
    
    .photo {
        position: absolute;
        left: 10%;
    }

    article {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        position: absolute;  
        display: inline-block;        
        background-color: silver;
        color: maroon;
        border-radius: 6px;
        padding: 25px;
        border-radius: 50px;
        box-shadow: 0px 0px 20px white;
    }

    p{
        border-bottom: 1px solid black;
    }

    aside {
        font-family: 'Shadows Into Light', cursive;
        font-size: 20px;
        position: fixed;  
        display: inline-block;        
        background-color: silver;
        color: maroon;
        border-radius: 6px;
        padding: 15px;
        border-radius: 50px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
        right: 8%;
    }

    aside a:link {
        color:maroon;
        text-decoration: none;
    }

    aside a:visited {
        color:maroon;
        text-decoration: none;
    }

    aside a:hover {
        color:white;
        text-decoration: none;
    }

    aside a:active {
        color:white;
        text-decoration: none;
    }

    h2 {
        font-family: 'Shadows Into Light', cursive;
    }

    .about {
        right: 10%;
        width: 50%;
    }

    .blogpost {
        left: 10%;
        width: 50%;
    }



    .blogpost {

    }









